html {
  font-size: 17px;
}
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  line-height: 1.4rem;
  color: #1e2123;
}
h1 {
  font-size: 1.6rem;
  font-weight: bolder;
}
.logo-light {
  font-weight: lighter;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.page-header {
  display: flex;
  width: 100%;
  height: 750px;
  background: url("../img/slider.png") no-repeat #0099ff;
  outline: 2px solid black;
}
.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 130px;
  outline: 1px solid red;
}
.page-header__logo {
  margin-left: 40px;
  margin-right: auto;
  margin-top: 40px;
  color: white;
}
.page-header__logo img {
  float: left;
  margin-right: 30px;
}
.page-header__logo h1 {
  display: inline-block;
  margin: 0;
  line-height: 55px;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: 1px solid green;
  padding-top: 180px;
  padding-bottom: 90px;
}
.header-wrapper .button-wrapper {
  width: 48%;
  outline: 1px solid red;
}
.header-wrapper h2 {
  text-transform: uppercase;
  width: 100%;
  padding-left: 26%;
  outline: 1px solid blue;
}
.header-wrapper h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 10px;
  margin-top: 35px;
  background-color: #1e2123;
}
.header-wrapper p {
  width: 58%;
  outline: 1px solid purple;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.content-wrapper__item {
  display: flex;
  flex-wrap: nowrap;
}
.content-wrapper__item .post {
  outline: 1px solid red;
  width: 50%;
  min-height: 333px;
  flex-shrink: 4;
}
.content-wrapper__item .post h3 {
  width: 100%;
  height: 1.4rem;
  text-align: left;
  margin-top: 85px;
  padding-left: 7%;
  outline: 1px solid green;
  box-sizing: border-box;
}
.content-wrapper__item .post p {
  width: 52%;
  height: auto;
  margin-left: 7%;
  text-align: left;
  outline: 1px solid red;
}
.content-wrapper__item .post--right h3 {
  text-align: right;
  padding-right: 7%;
}
.content-wrapper__item .post--right p {
  margin-left: auto;
  margin-right: 7%;
  text-align: left;
  outline: 1px solid red;
}
@media screen and (max-width: 950px) {
  .content-wrapper__item {
    flex-wrap: wrap;
  }
}
.about-me {
  width: 100%;
}
.about-me__content {
  display: inline;
  width: 61%;
  outline: 1px solid red;
}
.about-me__content p {
  margin: 20px 20%;
}
.about-me .me {
  display: inline-block;
  float: left;
  margin-right: 3%;
  margin-bottom: 20px;
  outline: 1px solid blue;
}
.about-me .skills {
  display: inline-block;
  float: right;
  margin-left: 3%;
  outline: 1px solid blue;
  margin-top: 20px;
}
.social-wrapper {
  margin-bottom: 35px;
}
.main-nav {
  width: 485px;
  font-size: 15px;
}
.main-nav__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
}
.main-nav__menu li {
  display: block;
  position: relative;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
}
.main-nav__menu a {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bolder;
  box-sizing: border-box;
}
.main-nav__sub-menu {
  display: none;
  position: absolute;
  width: 160px;
  height: 180px;
  left: -40px;
  top: 20px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  z-index: 1;
}
.main-nav__sub-menu li:first-child a {
  padding-top: 10px;
}
.main-nav__sub-menu li:last-child a {
  padding-bottom: 10px;
}
.main-nav__sub-menu::before {
  content: "";
  display: inline-block;
  margin: 0 0 -6px;
  padding: 0;
  border: 8px solid #1e2123;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
.main-nav a:hover {
  color: #1e2123;
}
.main-nav li:hover > a {
  color: #1e2123;
}
li:hover .main-nav__sub-menu {
  display: block;
}
.main-nav__sub-menu a {
  display: block;
  width: 160px;
  text-align: left;
  padding-left: 25px;
  font-size: 11px;
  line-height: 18px;
  background-color: #1e2123;
  border: 4px solid #1e2123;
  color: #fff;
}
li:hover .main-nav__sub-menu a:hover {
  background-color: #fff;
  color: #1e2123;
}
.button {
  height: 30px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  vertical-align: middle;
  color: #0c9aec;
  font-weight: 700;
  padding: 5px 5px;
  border: 3px solid #0c9aec;
  margin-right: 5px;
}
.button:hover {
  color: #fff;
  background-color: #1e2123;
  border-color: #1e2123;
}
.button:active {
  color: #fff;
  background-color: #0c9aec;
  border-color: #0c9aec;
}
