//out:../css/styles.css, sourcemap:true, compress:false
@white: #fff;
@black: #1e2123;
@grey: #e8e8e9;
@blue: #0099ff;
@blue-light: #0c9aec;
@text-color-main: #5b5b5b;
@text-color-purple: #9585a4;
@text-color-olive: #88d3dd;
@text-color-olive--dark: #088ca5;
@html-size-base: 17px;
@font-size: @html-size-base;
@font-size--h1: 1.6rem;
@font-size--h2: 2.4rem;
@font-size--h3: 1.1rem;
@line-height: 1.4rem;
@font-family: Open Sans, sans-serif;
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
  font-family: @font-family;
  font-size: @font-size;
  line-height: @line-height;
  color: @black;
}
h1 {
  font-size: @font-size--h1;
  font-weight: bolder;
  text-align: justify;
}
.logo-light {
  font-weight: lighter;
}
h2 {
  font-size: @font-size--h2;
}
h3 {
  font-size: @font-size--h3;
  text-transform: uppercase;
}
.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 750px;
  background: url("../img/slider.png") no-repeat @blue;
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 130px;
  }
  &__bottom {
    display: flex;
    width: 100%;
    padding-left: 20%;
  }
  &__logo {
    margin-left: 3%;
    margin-right: auto;
    margin-top: 40px;
    color: white;
    img {
      float: left;
      margin-right: 30px;
    }
    h1 {
      display: inline-block;
      margin: 0;
      line-height: 55px;
    }
  }
}
.page-main {
  display: flex;
  flex-wrap: wrap;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 170px;
  padding-bottom: 100px;
  .button-wrapper {
    width: 48%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  h2 {
    width: 100%;
    padding-left: 26%;
    text-transform: uppercase;
  }
  h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 10px;
    margin-top: 35px;
    background-color: @black;
  }
  p {
    width: 58%;
    margin-bottom: 0;
  }
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    .post {
      width: 50%;
      //min-height: 333px;
      padding-top: 70px;
      padding-left: 3%;
      h3 {
        width: 52%;
        text-align: left;
        margin-top: 10px;
      }
      p {
        width: 52%;
        text-align: left;
      }
      time {
        display: block;
        width: 52%;
        font-size: 13px;
      }
    }
    .details {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      margin: 0 auto;
      padding-top: 75px;
      color: #fff;
      text-align: center;
      font-size: 15px;
      .header {}
      p {
        width: 72%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:hover .details {
      display: block;
      background-color: rgba(12, 154, 236, 0.8);
    }
    &:hover .details--item {
      background-image: linear-gradient(to right, @blue-light, transparent);
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-bottom: 50px;
      padding-right: 4%;
      .button {
        color: @white;
        background-color: transparent;
        border-color: white;
      }
      .button:hover {
        color: @black;
        background-color: transparent;
        border-color: @black;
      }
    }
    .post--right {
      padding-left: 0;
      padding-right: 3%;
      padding-top: 70px;
      h3 {
        width: 52%;
        margin: 20px 0 0 auto;
        text-align: right;
      }
      p {
        width: 52%;
        margin-left: auto;
        margin-right: 0;
        text-align: left;
      }
      time {
        margin-left: auto;
        text-align: right;
      }
    }
  }
  &__item:hover {
    color: @white;
    background-color: @blue;
  }
}
.about-me {
  width: 100%;
  &__content {
    display: inline-block;
    width: 100%;
    h2 {
      display: inline-block;
      width: 35%;
      margin-top: 0;
      font-size: 33px;
      font-weight: normal;
      line-height: 33px;
      text-transform: uppercase;
    }
    p {
      margin: 20px 20%;
    }
  }
  .me {
    float: left;
    margin-right: 3%;
    margin-bottom: 20px;
  }
  .skills {
    float: right;
    margin-left: 3%;
    margin-top: 20px;
  }
}
.social-wrapper {
  margin-bottom: 35px;
}
.main-nav {
  width: 37%;
  font-size: 15px;
  &__menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
    & li {
      position: relative;
      display: block;
      margin: 0 8px 0 0;
      padding: 0;
      text-align: center;
    }
    a {
      display: block;
      width: 100%;
      margin: 0;
      padding: 5px 10px;
      background-color: transparent;
      color: #fff;
      text-decoration: none;
      white-space: nowrap;
      font-weight: bolder;
    }
  }
  &__sub-menu {
    display: none;
    position: absolute;
    width: 160px;
    height: 180px;
    left: -40px;
    top: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    z-index: 1;
    & li:first-child a {
      padding-top: 10px;
    }
    & li:last-child a {
      padding-bottom: 10px;
    }
  }
  &__sub-menu::before {
    content: "";
    display: inline-block;
    margin: 0 0 -6px;
    padding: 0;
    border: 8px solid @black;
    border-top-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  a:hover {
    color: @black;
  }
  li:hover > a {
    color: @black;
  }
  li:hover &__sub-menu {
    display: block;
  }
  &__sub-menu a {
    display: block;
    width: 160px;
    padding-left: 25px;
    border: 4px solid @black;
    text-align: left;
    font-size: 11px;
    line-height: 18px;
    color: @white;
    background-color: @black;
  }
  li:hover &__sub-menu a:hover {
    color: @black;
    background-color: @white;
  }
}

.main-nav--footer {
  display: flex;
  width: 88%;
  font-size: 13px;
  .main-nav__menu--footer {
    display: flex;
    & li {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    a {
      font-size: 13px;
      color: @black;
      font-weight: 700;
    }
  }
  .main-nav__menu--footer::after {
    content: "";
    display: block;
    width: 45px;
    height: 6px;
    margin-left: auto;
    margin-right: 40px;
    background-color: @black;
  }
}
.button {
  display: inline;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 5px;
  padding: 5px;
  border: 3px solid @blue-light;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  vertical-align: middle;
  color: @blue-light;
  font-weight: 700;
  background-color: @white;
}
.button-form {
  display: inline;
  line-height: 0;
}
.button:hover {
  border-color: @black;
  color: @white;
  background-color: @black;
}
.button:active {
  border-color: @blue-light;
  color: @white;
  background-color: @blue-light;
}
.contacts {
  width: 100%;
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    h4 {
      margin: 0;
      font-size: 17px;
      line-height: 17px;
    }
    &__item {
      width: 50%;
      margin: 0;
      padding: 0 0 0 3%;
    }
  }
  &__content {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li a {
      text-decoration: none;
      color: @black;
      font-weight: 700;
    }
    li a:hover {
      color: @blue-light;
    }
  }
}
.feedback {
  &-form-group {
    display: flex;
    flex-wrap: wrap;
    label {
      width: 100%;
      font-weight: 700;
    }
    input[type="email"],
    input[type="text"],
    textarea {
      width: 57%;
      height: 50px;
      margin-bottom: 20px;
      border: 3px solid @grey;
      font-size: 15px;
    }
    textarea {
      height: 180px;
    }
    input[type="email"]:focus,
    input[type="text"]:focus,
    textarea:focus {
      border: 3px solid @black;
    }
  }
}
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 400px;
  &__wrapper {
    width: 30%;
  }
  p {
    height: 20px;
  }
}
.slider {
  width: 60%;
  position: relative;
}
.slider input[type=radio] {
  display: none;
}
.slider-inner {
  overflow: hidden;
}
.slider-slides {
  width: 500%;
  transition: transform 0.8s ease;
}
.slider-slides .img {
  display: inline-block;
  float: left;
  width: 20%;
  height: 333px;
  padding: 10px 30px;
  h2 {
    padding-left: 8%;
  }
  p {
    width: 100%;
  }
}
.slider-controls {
  position: absolute;
  left: 0;
  bottom: 40px;
  margin: 0 9%;
  z-index: 100;
}
.slider-controls label {
  display: inline;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 4px solid white;
  color: @white;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
  background: transparent;
}
#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}
#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translateX(-20%);
}
#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translateX(-40%);
}
#btn-4:checked ~ .slider-inner .slider-slides {
  transform: translateX(-60%);
}
#btn-5:checked ~ .slider-inner .slider-slides {
  transform: translateX(-80%);
}
